.item-label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.item-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4F5565;
}

.done {
    color: #4F5565;
    text-decoration:  line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #4F5565;
    transition: all 0.5s ease-out;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #4F5565;
    border-radius: 6px;
    width: 20px;
    height: 20px;
}

.item-container:hover .checkbox {
    background: rgba(255, 132, 105, 0.2);
}

.item-container:hover .item-label.done,
.item-container:hover .item-description.done {
    color: white;
}

.item-container:hover .item-label,
.item-container:hover .item-description {
    color: #FF8469;
}

input[type="checkbox"]:checked {
    background: #FF8469;
    background-image: url(../../img/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.post-list-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.item-container {
    display: flex;
}

